@value values: "../style/values.module.css";
@value primaryColor, secondaryColor, margin, marginSmall, marginLarge from values;

.content {
    composes: grid from "../style/layouts.module.css";
}

.form {
    background-color: primaryColor;
    padding: 2.5rem;
    grid-column: 1 / span 2;
}

.bouquet {
    grid-row: 1;
    grid-column: 3;
}

.instructions {
    margin-bottom: marginSmall;
}

.step {
    margin-bottom: calc(marginSmall / 2);
    margin-left: margin;
}

.step span {
    color: secondaryColor;
}