html {
box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

.title {
    font-size: 2rem;
    color: pink;
    margin: 4rem;
}

.slogan {
    margin: 4rem;
}

.subtitle {
    font-size: 1.5rem;
    color: darkred;
    font-style: italic;
    margin: 5rem;
}

.placeholder {
    border-radius: 100%;
    border: .5rem solid;
    margin: 5rem;
}

.placeholder--small {
    width: 10rem;
    height: 10rem;
}

.placeholder--medium {
    width: 25rem;
    height: 25rem;
}

.placeholder--large {
    width: 50rem;
    height: 50rem;
}

.form {
    background-color: lightpink;
    padding: 2.5rem;
}

input, label {
    display: block;
}

input, select {
    margin-bottom: 1.5rem;
}