html {
box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

.header {
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    color: pink;
    font-weight: bold;
    margin-top: 4rem;
}

.slogan {
    margin: 4rem;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    color: darkred;
    font-style: italic;
    margin: 5rem;
}

.placeholder {
    border-radius: 100%;
    border: .5rem solid;
    margin: 5rem;

    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.place__top-left {
    grid-row: 1;
    grid-column: 1;
}

.place__top-right {
    grid-row: 1;
    grid-column: 3;
}

.place__middle {
    grid-row: 2;
    grid-column: 2;
}

.place__bottom-left {
    grid-row: 3;
    grid-column: 1;
}

.place__bottom-right {
    grid-row: 3; 
    grid-column: 3;
}

.placeholder--small {
    width: 10rem;
    height: 10rem;
}

.placeholder--medium {
    width: 25rem;
    height: 25rem;
}

.placeholder--large {
    width: 50rem;
    height: 50rem;
}

.form {
    background-color: lightpink;
    padding: 2.5rem;
}

input, label {
    display: block;
}

input, select {
    margin-bottom: 1.5rem;
}