@value values: "./style/values.module.css";
@value titleFont, sloganFont, marginSmall, primaryColor from values;

.hidden {
    display: none;
}

.header {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin-bottom: marginSmall;
}

.title {
    font-size: titleFont;
    text-align: center;
    color: primaryColor; 
    font-weight: bold;
    margin-top: marginSmall;
}

.slogan {
    margin: marginSmall;
    font-size: sloganFont;
    font-style: italic;
    text-align: center;
}