html {
box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

.header {
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    color: pink;
    font-weight: bold;
    margin-top: 4rem;
}

.slogan {
    margin: 4rem;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

.content {
    display: grid;
    /* grid-template-rows: 80vh; */ 
    grid-template-columns: 30% 30% 40%;
}

.subtitle {
    font-size: 1.5rem;
    color: darkred;
    font-style: italic;
    margin: 5rem;
}

.bouquet {
    grid-row: 1;
    grid-column: 3;
}

.small {
    border-radius: 100%;
    border: .3rem solid;
    margin: 5rem;

    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 10rem;
    height: 10rem;
}

.medium {
    border-radius: 100%;
    border: .3rem solid;
    margin: 5rem;

    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    width: 20rem;
    height: 20rem;
}

.large {
    border-radius: 100%;
    border: .3rem solid;
    margin: 5rem;

    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    width: 35rem;
    height: 35rem;
}

.form {
    background-color: lightpink;
    padding: 2.5rem;
    grid-column: 1 / span 2;
}

input, label {
    display: block;
}

input, select {
    margin-bottom: 1.5rem;
}